[includeIf "gitdir:~/workspace/raxit65535/"]
  path = ~/.gitconfig-raxit65535

[user]
	name = Raxit Solanki
	email = sraxit65535@gmail.com

[core]
	editor = vscode --wait
	autocrlf = input
	excludesfile = ~/.gitignore_global

[credential]
  helper = osxkeychain
	interactive = true
	gitHubAccountFiltering = false
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager

[credential "https://dev.azure.com"]
	useHttpPath = true

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --oneline --graph --decorate --all
	amend = commit --amend --no-edit

[color]
	ui = auto

[push]
	default = current
	autoSetupRemote = true

[pull]
	rebase = false

[init]
	defaultBranch = main

[diff]
	tool = vimdiff

[merge]
	tool = vimdiff
	conflictstyle = diff3

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
